/* Regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    background-color: gray;
}

table{
    border: solid 2px black;
    border-radius: 5px;
}

/* Header */
header .container-xxl{
    background-color: #F8F9FA;
    height: 60px;
}

#small-logo{
    max-width: 50px;
}

#big-logo{
    max-width: 100%;
    display: none;
}

header input{
    width: 100%;
    padding: 10px;
}

.hidden{
    display: none;
}

.fa-bell.dropdown{
    color: orange;
    text-decoration: none;
}

/* Nav left */
#nav-left{
    padding-top: 80px;
    height: 100vh;
    background-color: #11273E;
    background-image: url('../img/sidebar-bg.png');
    background-size: contain;
}

.nav-link span{
    display: none;
}

#sidebar i {
    font-size: 25px;
}

/* Main section */

#main-section{
    background-color: #F7F8F9;
    max-height: 100vh;
}

.upper-menu{
    margin-top: 60px;
    background-color: #1B72E8;
}

.uppermenu h2::after{
    content: 'Piano blaze';
    font-size: 0.4em;
    background-color: #1358B9;
    padding: 2px 5px;
    border-radius: 10px;
    margin-left: 5px;
}

.path-element{
    font-size: 0.6em;
    background-color: #1358B9;
    padding: 2px 3px;
    border-radius: 10px;
}

.counter{
    font-size: 1.7em;
}

.small-text{
    font-size: 0.8em;
}

.class-name img{
    max-width: 20px;
}

.table-icons a{
    color: gray;
    border: 1px solid gray;
    padding: 5px;
    text-decoration: none;
    border-radius: 3px;
}

.hidden-table{
    display: none;
}

.graph{
    background-color: white;
    border: solid 1px gray;
    border-radius: 2px;

}

.graph-element{
    background-color: white;
    margin: 10px;
    border-radius: 2px;
    border: solid 1px gray;
}

.graph img{
    max-width: 100%;
}

/* MEDIA */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .hidden-table{
        display: block;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #small-logo{
        display: none;
    }

    #big-logo{
        display: inline-block;
    }

    .hidden{
        display: inline-block;
    }

    .nav-link span{
        display: inline-block;
    }

    #sidebar i {
        font-size: 1em;
    }
  }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }


/* HOVER */
#sidebar a:hover{
    background-color: lightgray;
    
}

table td:hover {
    background-color: lightgray;
    
}

.fa-plus{
    border: solid 1px white;
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.fa-plus:hover{
   background-color: white;
   color: black;
}


